{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> RESET PASSWORD </legend>
                {{ form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit"> REQUEST PASSWORD RESET </button>
            </div>
        </form>
    </div>
</body>
</html>